@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500;700;900&display=optional');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body, html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  border: none;
}

// Media Query Mixin
@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin smallTablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1056px;

  @include desktop {
    max-width: 970px;
  }

  @include tablet {
    max-width: 750px;
  }

  @include phone {
    max-width: 100%;
  }
}

// Color vars
$dark-green: #0f5f5c;
$light-green: #83a7a5;
$green: #6faf47;
$green2: rgba(45, 110, 112, .9);
$grey: #f2f2f2;
$white: #ffffff;
$header_border: rgba(255, 255 ,255, .2);

//Styles mixins
@mixin flex() {
  display: flex;
  align-items: center;
}
