@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500;700;900&display=optional");
*, :after, :before {
  box-sizing: border-box; }

body, html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1056px; }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 100%; } }

.features_wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 97px; }
